body {
  background-image: url("https://images.pexels.com/photos/1111317/pexels-photo-1111317.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
em {
  font-family: "serif";
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
#values {
  display: flex;
  margin-left: 40%;
}

.footer {
  text-align: center;
  background-color: hotpink;
  font-family: "stystem-ui";
  margin-top: 32%;
}
#one {
  margin-left: 30px;
  border: 3px;
  border-radius: 5px;
  text-align: center;
}
#two {
  margin-left: 30px;
  border: 3px;
  border-radius: 5px;
  text-align: center;
}
#three {
  margin-left: 30px;
  border: 3px;
  border-radius: 5px;
  text-align: center;
}
