body {
  background-image: url("https://images.pexels.com/photos/1111318/pexels-photo-1111318.jpeg");
  background-repeat: no-repeat;
  background-size: cober;
}
em {
  font-family: "serif";
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
#values {
  display: flex;
}
