body {
  background-image: url("https://images.pexels.com/photos/1111317/pexels-photo-1111317.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
em {
  font-family: "serif";
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
h1 {
  padding-top: 100px;
}
#values {
  display: flex;
  margin-left: 40%;
  padding-top: 40px;
}

.footer {
  text-align: center;
  background-color: hotpink;
  font-family: "stystem-ui";
  margin-top: 24%;
}
input {
  margin-left: 0.5px;
  border: 3px;
  border-radius: 5px;
  padding: 20px;
  margin: 20px 0px 20px;
}
button {
  margin-top: 20px;
}
